<form novalidate [formGroup]="attForm" (submit)="getData()">
  <select matTooltip="Select Plant" formControlName="tableName" placeholder="Select Table">
    <option value="{{TableName.ENERGY_GUIDE}}">Energy Guide</option>
    <option value="{{TableName.MATERIAL}}">Material</option>
  </select>

  <button type="submit" [disabled]="!attForm.valid">
    Get Data
  </button>
</form>

<ejs-grid #grid [dataSource]="data | async" allowSorting="true" allowPaging="true" [pageSettings]="pageSettings"
  [toolbar]="toolbar" showColumnChooser="true" allowReordering="true" (dataStateChange)="dataStateChanged($event)"
  [selectionSettings]="selectionOptions" [contextMenuItems]="contextMenuItems" enableStickyHeader="true"
  allowTextWrap="true" allowResizing="true" showColumnMenu="true" [allowRowDragAndDrop]="true" (dataBound)="dataBound()"
  allowFiltering="true" [editSettings]="editSettings" (dataSourceChanged)="dataSourceChanged($event)">
  <e-columns>
    <e-column type="checkbox"></e-column>
    <e-column field="id" headerText="ID" [isPrimaryKey]="true" [isIdentity]="true"></e-column>
    <e-column field="tableName" headerText="Table Name" editType="dropdownedit" [edit]="tableparams"></e-column>
    <e-column field="columnName" headerText="Column Name"></e-column>
    <e-column field="dataType" headerText="Data type"></e-column>
    <e-column field="field" headerText="Field"></e-column>
    <e-column field="displayName" headerText="Display Name"></e-column>
    <e-column field="displayOrder" headerText="Display Order" editType="numericEdit" [edit]="displayOrderParams">
    </e-column>
    <e-column field="allowEditing" headerText="Allow Editing" [displayAsCheckBox]="true" editType="booleanEdit">
    </e-column>
    <e-column field="allowFiltering" headerText="Allow Filtering" [displayAsCheckBox]="true" editType="booleanEdit">
    </e-column>
    <e-column field="allowReordering" headerText="Allow Reordering" [displayAsCheckBox]="true" editType="booleanEdit">
    </e-column>
    <e-column field="allowResizing" headerText="Allow Resizing" [displayAsCheckBox]="true" editType="booleanEdit">
    </e-column>
    <e-column field="allowSearching" headerText="Allow Searhing" [displayAsCheckBox]="true" editType="booleanEdit">
    </e-column>
    <e-column field="allowSorting" headerText="Allow Sorting" [displayAsCheckBox]="true" editType="booleanEdit">
    </e-column>
    <e-column field="primaryKey" headerText="Is Primary Key" [displayAsCheckBox]="true" editType="booleanEdit">
    </e-column>
    <e-column field="showByDefault" headerText="Show By Default" [displayAsCheckBox]="true" editType="booleanEdit">
    </e-column>
  </e-columns>
</ejs-grid>
