<form [formGroup]="resiForm" novalidate id="formId">
  <div class="p-4 flex space-x-2">
    <div class="flex space-x-2 align-middle">
      <label for="tableName">Table Name</label>
      <ejs-dropdownlist
        id="tableName"
        formControlName="tableName"
        name="tableName"
        [dataSource]="tableDDList"
        placeholder="Select Table"
      >
      </ejs-dropdownlist>
    </div>

    <button ejs-button [disabled]="!resiForm.valid" (click)="getData()">
      Get Data
    </button>
  </div>
</form>
